input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.invalid {
    border: 1px solid rgb(248, 81, 81)!important;
    box-shadow: 0px 0px 5px 0.5px rgb(248, 81, 81);
    -moz-box-shadow: 0px 0px 5px 0.5px rgb(248, 81, 81);
    -webkit-box-shadow: 0px 0px 5px 0.5px rgb(248, 81, 81);
}

.user-data-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.form-top-margin {
    margin-top: 6vh;
}

.form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: white;
}
