.text {
    color: #FFFFFF;
}

.default-view-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
}

.view-icon {
    font-size: 6rem;
}